doctype html
html
  head
    title= 'CS-499 Enhancement Three'
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
    script(src='/javascripts/global.js')
    script(src="myscripts.js" charset="UTF-8")